<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dongguk-application</title>
    </head>
    <body>
            <h1>강의실 대관사이트 로그인</h1>
            {% if error %}
                <p><strong>로그인 실패:</strong>{{error}}</p>
            {% endif %}
            <form action="" method= post>
                <dl>
                    <dt>아이디:</dt>
                    <dd>
                        <input type="text" name="username" value="{{request.form.username}}">
                    </dd>
                    <dt>비밀번호</dt>
                    <dd>
                        <input type="password" name="password">
                    </dd>
                </dl>
                <p><input type="submit" value="login"></p>
            </form>
    </body>
</html>